// @import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

@mixin fontawesome() {
  width: 25px;
  height: 30px;
  font-size: 25px;
}

@mixin q_and_a_container($border_color) {
  width: 700px;
  padding: 0.5em 1em;
  margin: auto;
  background: #FFF;
  border: solid 3px $border_color;
  border-radius: 10px;
}

.fa-edit {
  @include fontawesome();
}

.fa-trash {
  @include fontawesome();
}

.fa-paper-plane {
  @include fontawesome();
}

.bold_texts {
  font-size: 25px;
  font-weight: bold;
  color: gray;
}

// kaminariを中央寄せに
.pagination {
  justify-content: center;
}

// いいねボタンのスタイリング

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.like_btn {
  @include fontawesome();
}

// コメント部分

.fa-comment {
  @include fontawesome();
}

// いいね、コメントなどの数を表示する部分
.object_counts {
  height: 30px;
  margin-left: 10px;
}

// 投稿ページのスタイリング
.post_container {
  width: 800px;
  margin: auto;
}

// 質問ページのスタイリング

.question_container {
  @include q_and_a_container(#6091d3)
}

.question_container p {
  margin: 0; 
  padding: 0;
}

.answer_container {
  @include q_and_a_container(#ff9999)
}

.answer_container p {
  margin: 0; 
  padding: 0;
}

// 質問一覧ページのスタイリング
.question_index_container {
  margin: auto;
  width: 880px;
}

.question_each_container {
  width: 880px;
  height: 128px;
}

// ユーザーページのスタイリング

.user_container {
  width: 1200px;
  margin: auto;
}

.user_border {
  border: solid 2px #ababab;
}

// フォーム画面のスタイリング

.form_container {
  margin: auto;
  width: 800px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
 
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

// カテゴリーリンク部分
.category_link {
  color: white;
}

//  通知ページのスタイリング

.notification_container {
  width: 880px;
  margin: auto;
  text-align: center;
  font-size: 30px;
}
