@import "bootstrap-sprockets";
@import "bootstrap";

.question_container {
  width: 700px;
  padding: 0.5em 1em;
  margin: auto;
  font-weight: bold;
  color: #6091d3;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}
.question_container p {
  margin: 0; 
  padding: 0;
}