// @import "bootstrap-sprockets";
@import "bootstrap";

@import 'font-awesome-sprockets';
@import 'font-awesome';

// kaminariを中央寄せに
.pagination {
  justify-content: center;
}

// 投稿ページのスタイリング
.post_container {
  width: 800px;
  margin: auto;
}

// 質問ページのスタイリング
.question_container {
  width: 700px;
  padding: 0.5em 1em;
  margin: auto;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #6091d3;
  border-radius: 10px;
}

.question_container p {
  margin: 0; 
  padding: 0;
}

.answer_container {
  width: 700px;
  padding: 0.5em 1em;
  margin: auto;
  font-weight: bold;
  background: #FFF;
  border: solid 3px #ff9999;
  border-radius: 10px;
}
.answer_container p {
  margin: 0; 
  padding: 0;
}

// 質問一覧ページのスタイリング
.question_index_container {
  margin: auto;
  width: 880px;
}

.question_each_container {
  width: 880px;
  height: 128px;
}

// ユーザーページのスタイリング

.user_container {
  width: 1200px;
  margin: auto;
}

.user_border {
  border: solid 2px #ababab;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}
 
/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
 
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}

// カテゴリーリンク部分
.category_link {
  color: white;
}
